<! name:Brandon shiwsanakr
Student number: 301068399
Date: 9/8/2020
file name: about
>

<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
<style>
    body {
        background: lightblue;
    }
</style>

  <main class="container" style="width: 980px">
      <div>
        <h1 class="display-4" style="text-align: center">About Me</h1>
       </div>
       <div class="jumbotro"> 
            
            
            <table style="width: 100%">
                <tr>
                    <td>
                        <h5>Hello, My name is Brandon Shiwsankar and I am an 19 years old. I am a second yaer student at Centennial College.
                            I am currently in the Software Engineering Technology program.
                            I like learning about technology and also like to code.
                            I am a hands-on learner, so I like to try things out for my self and experiment with them.
                        </h5>
                        <h6>You can find my resume below.</h6>
                    </td>
                    <td>
                        <img src="/Assets/images/mypic.png" width="225px" height="275px">
                    </td>
                </tr>
                <tr>
                        <td>
                            <a href="/Assets/resume.pdf">resume</a>
                        </td>
                    </tr>
            </table>
            
       </div> 

  </main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>